/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #131111;
    margin: 0;
    padding: 0;
  }
  img{
    display: none;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow:  5px 5px 12px rgba(186, 211, 200, 0.5);
    margin-top: 80px;
  }
  
  h1 {
    text-align: center;
  }
  
  /* Estilos para desktop */
  .input-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-container label {
    text-align: right;
  }
  
  .input-container input[type="number"] {
    width: 60px;
    padding: 5px;
  }
  
  .button-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #gerarNumeros {
    background-color: #28a745;
  }
  
  #ordenarNumeros {
    background-color: #dc3545;
    margin-left: 10px;
  }
  
  p {
    text-align: center;
  }
  
  .numeros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .numeros-container .numero {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  .call-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o ícone */
.icon {
    margin-right: 10px;
}
  
  /* Estilos para dispositivos móveis */
  @media (max-width: 350px) {
    .container{
        width: 350px;
    }
    .input-container {
      grid-template-columns: 1fr;
      grid-gap: 5px;
    }
  
    .input-container label {
      text-align: left;
    }
  
    .input-container input[type="number"] {
      width: 8%;
    }
  
    .button-container {
      display: block;
      flex-direction: column;
      width: 185px;
      margin-left: 80px;
    }
  
    .button-container button {
      margin-bottom: 10px;
    }
  }
  